<div class="main__container">
  <div class="section-title">
    <h1 @headerIn>Event-er</h1>
  </div>
  <form
    @listIn
    *ngIf="loadedForm"
    data-event-form
    class="form__wrapper"
    [formGroup]="addContact"
    (ngSubmit)="setEvent()"
    action=""
  >
    <div class="location__wrapper">
      <mat-form-field
        data-event-title
        [hintLabel]="addContact.get('title').pristine ? 'Min 2 characters' : ''"
        appearance="fill"
      >
        <mat-label>Set title</mat-label>
        <input
          matInput
          formControlName="title"
          maxlength="25"
          minlength="2"
          placeholder="Title here"
        />
        <mat-error *ngIf="eventModel['title']">{{
          eventModel["title"]
        }}</mat-error>
        <mat-hint align="end"
          >{{ addContact.get("title").value?.length || 0 }}/25</mat-hint
        >
      </mat-form-field>
      <mat-form-field
        [hintLabel]="
          addContact.get('location').pristine ? 'Where is that...?' : ''
        "
        appearance="fill"
      >
        <mat-label>Set location</mat-label>
        <input
          matInput
          formControlName="location"
          placeholder="Location here"
        />
        <mat-error *ngIf="eventModel['location']">{{
          eventModel["location"]
        }}</mat-error>
        <mat-hint
          *ngIf="
            addContact.get('location').valid &&
            !addContact.get('location').pristine
          "
          align="end"
        >
          <mat-icon>check</mat-icon></mat-hint
        >
      </mat-form-field>
    </div>
    <mat-form-field
      [hintLabel]="addContact.get('date').pristine ? 'M/D/YYYY' : ''"
      appearance="fill"
    >
      <mat-label>Choose a date</mat-label>
      <input matInput formControlName="date" [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="eventModel['date']">{{ eventModel["date"] }}</mat-error>
      <mat-hint
        *ngIf="addContact.get('date').valid && !addContact.get('date').pristine"
        align="end"
        ><mat-icon>check</mat-icon></mat-hint
      >
    </mat-form-field>
    <mat-form-field
      data-event-description
      [hintLabel]="
        addContact.get('description').pristine ? 'Min 10 characters' : ''
      "
      appearance="fill"
    >
      <mat-label>Set description</mat-label>
      <textarea
        matInput
        formControlName="description"
        maxlength="400"
        minlength="10"
        placeholder="Description here"
      ></textarea>
      <mat-error *ngIf="eventModel['description']">{{
        eventModel["description"]
      }}</mat-error>
      <mat-hint align="end"
        >{{ addContact.get("description").value?.length || 0 }}/400</mat-hint
      >
    </mat-form-field>
    <button mat-raised-button type="submit" [disabled]="addContact.invalid">
      <mat-icon data-petition *ngIf="onPetition">autorenew</mat-icon>
      <span *ngIf="!onPetition && !eventID">Create</span>
      <span *ngIf="!onPetition && eventID">Edit</span>
    </button>
  </form>
</div>
