/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "./app/shared/styles/fonts.scss";
@import "./app/shared/styles/colors.scss";
@import "./app/shared/styles/variables.scss";
@import "./app/shared/styles/values.scss";

* {
  box-sizing: border-box;
}

/*Generic setup*/
body,
html,
div {
  margin: 0;
  padding: 0;
  border: 0;
}

.body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

router-outlet+* {
  flex-grow: 1;
}

/*Material custom styles*/
mat-toolbar[data-menu] {
  background-color: $black;
  color: $gray-white;
}


mat-icon[data-copyright]{
  font-size: 1rem;
}

oevents-error-card {
  position: absolute;
  top: calc(var(--toolbarH) + 15px);
  right: 15px;
  mat-card[data-error]{
    background-color: rgba(247, 211, 211, 1);
    color: red;
    white-space: pre-line;
  }
}

/*Generic styles*/
.section-title {
  color: $acn-green;
  font-weight: 900;
  font-size: 2rem;
  // max-width: 300px;
  h1 {
    margin: 0 0;
  }
}

//Toolbar links, not image copyright
a:not(p>a) {
  cursor: pointer;
  color: black;
  text-decoration: none;

  &:hover {
    color: $acn-green;
  }
}


.activeLink {
  color: $acn-green;
}

.form__wrapper {
  background-color: rgba($color: $gray-white, $alpha: 1);
  border-radius: 9px;
  padding: 1rem 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  //sign up formulary has different structure
  &:not([data-sign-form]){
    max-width: 300px;
    form {
      width: 100%;
      mat-form-field {
        display: block;
        padding: 10px 0px;
      }
    }
  }
  &[data-sign-form]{
    max-width: fit-content;
    form {
      width: 100%;
    }
  }
}

//Sign type button
button[mat-raised-button] {
  margin-left: auto;
  display: block;
  background-color: rgba($color: $acn-green, $alpha: 1);
  color: rgba($color: $gray-white, $alpha: 1);
}

.copyright {
  position: absolute;
  bottom: 0;
  right: 0;
  color: $gray-white;
  margin: 0;
  a{
    color: rgba($color: $black, $alpha: 1);
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}
