/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "./app/shared/styles/fonts.scss";
@import "./app/shared/styles/colors.scss";
@import "./app/shared/styles/variables.scss";

* {
  box-sizing: border-box;
}

body,
html,
div {
  margin: 0;
  padding: 0;
  border: 0;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.section-title {
  color: $acn-green;
  font-weight: 900;
  font-size: 2rem;
  // max-width: 300px;

  h1 {
    margin: 0 0;
  }
}

a {
  cursor: pointer;
  color: black;
  text-decoration: none;

  &:hover {
    color: $acn-green;
  }
}

mat-toolbar[data-menu] {
  background-color: $black;
  color: $gray-white;
  &:last-child {
    margin-left: auto;
  }
}

mat-card {
  background-color: rgba(247, 211, 211, 0.8);
  color: red;
}

.activeLink {
  color: $acn-green;
}
.ng-star-inserted {
  flex-grow: 1;
}

.form__wrapper {
  background-color: rgba($color: $gray-white, $alpha: 1);
  border-radius: 9px;
  padding: 1rem 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  &:not([data-sign-form]){
    max-width: 300px;
    form {
      width: 100%;
      mat-form-field {
        display: block;
        padding: 10px 0px;
      }
    }
  }
  &[data-sign-form]{
    max-width: fit-content;
    form {
      width: 100%;
    }
  }
}

.sign__info {
  user-select: none;
  opacity: 0;
  transition: opacity ease-in 0.3s;
}
.unsuccess__sign {
  opacity: 1;
}

button[mat-raised-button] {
  margin-left: auto;
  display: block;
  background-color: rgba($color: $acn-green, $alpha: 1);
  color: rgba($color: $gray-white, $alpha: 1);
}
