@import "../../shared/styles/variables.scss";
@import "../../shared/styles/colors.scss";

.main__container {
  @include container();
  @include background(
    "../../../assets/images/he-junhui-gUGhVBWgJpU-unsplash.jpg",
    center,
    auto
  );
  position: relative;
}

.password__wrapper {
  width: 100%;
}

mat-icon[data-show-password] {
  padding-left: 6px;
  margin-right: 2rem;
  cursor: pointer;
}
