<div class="main-container">
  <div class="section-title">
    <h1 @headerIn>Sign Up</h1>
  </div>
  <div data-sign-form class="form-wrapper">
    <form [formGroup]="signUpForm" (ngSubmit)="userSignUp()" action="">
      <mat-form-field
        [hintLabel]="signUpForm.get('name').pristine ? 'User name' : ''"
        appearance="fill"
      >
        <mat-label>Set name</mat-label>
        <input
          matInput
          formControlName="name"
          maxlength="25"
          minlength="2"
          placeholder="Name here"
        />
        <mat-error *ngIf="signUpFormErr['name']">{{
          signUpFormErr["name"]
        }}</mat-error>
      </mat-form-field>
      <div class="password-wrapper">
        <mat-form-field
          [hintLabel]="signUpForm.get('password').pristine ? 'Password' : ''"
          appearance="fill"
        >
          <mat-label>Set password</mat-label>
          <input
            [type]="iconShow === 'visibility' ? 'password': 'text'"
            matInput
            formControlName="password"
            placeholder="Password here"
          />
          <mat-error *ngIf="signUpFormErr['password']">{{
            signUpFormErr["password"]
          }}</mat-error>
        </mat-form-field>
        <mat-icon data-show-password (click)="showPassword()">{{iconShow}}</mat-icon>
        <mat-form-field
          [hintLabel]="
            signUpForm.get('passwordNotMatch').pristine ? 'Confirm password' : ''
          "
          appearance="fill"
        >
          <mat-label>Confirm password</mat-label>
          <input
            type="password"
            matInput
            formControlName="passwordNotMatch"
            placeholder="Confirm password"
          />
          <mat-error *ngIf="signUpFormErr['passwordNotMatch']">{{
            signUpFormErr["passwordNotMatch"]
          }}</mat-error>
        </mat-form-field>
      </div>
      <button mat-raised-button type="submit" [disabled]="signUpForm.invalid">
        <mat-icon data-petition *ngIf="errorService.onPetition">autorenew</mat-icon>
        <span *ngIf="!errorService.onPetition">
          Sign up
        </span>
      </button>
    </form>
  </div>
  <p class="copyright">
    <mat-icon data-copyright>copyright</mat-icon>Photo by
    <a
      href="https://unsplash.com/@he_junhui?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
      >He Junhui</a
    >
    on
    <a
      href="https://unsplash.com/images/sports?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
      >Unsplash</a
    >
  </p>
</div>
