@import "../../shared/styles/variables.scss";
@import "../../shared/styles/colors.scss";

.main__container {
  @include container();
  @include background(
    "../../../assets/images/jason-wong-PBNbMX6jtBM-unsplash.jpg",
    center,
    cover
  );
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.list__wrapper {
  overflow-y: auto;
  max-height: 400px;
  max-width: 600px;
  margin: 0 auto;
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
    margin-left: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $black;
  }
}

.list__itemDescription {
  max-height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

mat-card[data-list-item] {
  margin: 10px 0;
  height: 113px;
}

mat-card-title,
h3 {
  cursor: pointer;
  margin: 0 !important;
  &:hover {
    text-decoration: underline;
  }
}
