<div class="main-container">
  <div @headerIn class="section-title d-flex">
    <h1>Events</h1>
    <h4>\List</h4>
  </div>
  <div @listIn class="list-wrapper">
    <mat-card data-list-item *ngFor="let event of events">
      <mat-card-header>
        <mat-card-title>
          <h3 (click)="onSelectEvent(event)">{{ event.title | uppercase }}</h3>
        </mat-card-title>
        <mat-card-subtitle>
          <p>Created by: {{event.addedBy}} in {{ event.location }} - {{ event.date | date: "dd/MM/yyyy" }}</p>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="list__itemDescription">{{ event.description }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <p class="copyright">
    <mat-icon data-copyright>copyright</mat-icon>
    Photo by
    <a
      href="https://unsplash.com/@jasonhk1920?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
      >Jason Wong</a
    >
    on
    <a
      href="https://unsplash.com/s/photos/books?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
      >Unsplash</a
    >
  </p>
</div>
