@import "../../shared/styles/variables.scss";
@import "../../shared/styles/colors.scss";

.main-container {
  @include container();
  @include background(
    "../../../assets/images/denise-jans-5vGeVxQq9Vs-unsplash.jpg",
    center,
    cover
  );
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.detail-wrapper{
  width: 600px;
  margin: 0 auto;
}

.event-wrapper {
  overflow-y: auto;
  max-height: 400px;
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
    margin-left: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $black;
  }
}

mat-card[data-event-detail] {
  display: block;
  margin: 0 auto;
}

button{
  margin-bottom: 1rem;
}