@import "../shared/styles/variables.scss";
@import "../shared/styles/colors.scss";
@import "../shared/styles/fonts.scss";


.main__container {
  @include container();
  @include background(
    "../../assets/images/patt1.png",
    center,
    cover
  );
  position: relative;
}

.landing__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitle{
  font-family: "Graphik Super";
}

h1{
  padding: 1rem 1.5rem;
  background-color: rgba(0,0,0, 0.6);
  border-radius: 1rem;
}