<div class="main-container">
  <div class="section-title">
    <h1 @headerIn>Profile</h1>
  </div>

  <div class="form-wrapper">
    <form [formGroup]="editorForm" (ngSubmit)="userEdit()" action="">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input
          (keyup.esc)="resetProfile()"
          matInput
          formControlName="name"
          maxlength="25"
          minlength="2"
          placeholder="Name here"
        />
        <mat-error *ngIf="editorFormErr['name']">{{
          editorFormErr["name"]
        }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>ID</mat-label>
        <input type="text" matInput formControlName="id" />
      </mat-form-field>

      <button (click)="editMode()" *ngIf="!editorMode" mat-raised-button>
        Edit
      </button>
      <button
        *ngIf="editorMode"
        mat-raised-button
        type="submit"
        [disabled]="editorForm.invalid"
      >
        <mat-icon data-petition *ngIf="errorService.onPetition"
          >autorenew</mat-icon
        >
        <span *ngIf="!errorService.onPetition"> Confirm </span>
      </button>
    </form>
  </div>

  <p class="copyright">
    <mat-icon data-copyright>copyright</mat-icon>
    Photo by
    <a
      href="https://unsplash.com/@joelfilip?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
      >Joel Filipe</a
    >
    on
    <a
      href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
      >Unsplash</a
    >
  </p>
</div>
