<mat-toolbar data-menu>
  <a mat-button routerLink="/home" routerLinkActive="activeLink">Home</a>
  <button mat-button [matMenuTriggerFor]="events" aria-label="event list">
    <span [ngClass]="{activeLink: activeEvent}">Events</span>
  </button>
  <mat-menu #events="matMenu">
    <a [routerLink]="['/events', 'add-event']" routerLinkActive="activeLink" mat-menu-item>
      <mat-icon>add</mat-icon>
      <span>Add event</span>
    </a>
    <a routerLink="/events/event-list" routerLinkActive="activeLink" mat-menu-item>
      <mat-icon>search</mat-icon>
      <span>Event list</span>
    </a>
  </mat-menu>
  <a mat-button *ngIf="userService.isAuthenticated" routerLink="/profile" routerLinkActive="activeLink">Profile</a>
  <div class="credential__section">
    <a mat-button *ngIf="!userService.isAuthenticated" routerLink="/login" routerLinkActive="activeLink">Login</a>
    <a mat-button *ngIf="userService.isAuthenticated" (click)="logOut()">Logout</a>
    <a mat-button *ngIf="!userService.isAuthenticated" data-sign routerLink="/signup" routerLinkActive="activeLink">Sign Up</a>
  </div>
</mat-toolbar>
